@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Bitter:ital,wght@0,100..900;1,100..900&family=Montagu+Slab:opsz,wght@16..144,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montagu Slab;
    /* will eventually look further into the fonts + how to import */
}

body {
    display: flex;
    flex-direction: column;
    /*possibly add here flex-dir: column? dunno but saving it in case i forget*/
}


.section1 {
    background-color: rgb(185, 102, 54);
    width: 100%;
}

.container1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 16px;
    margin-top: 2em;
    margin-bottom: 4em;
}

.catsnco {
    font-size: 24px;
    font-weight: bolder;
    margin-left: 5em;
}

.catsncolinks {
    display: flex;
    gap: 2em;
    margin-left: auto;
    font-size: 18px;
    margin-right: 5em;
}

.clickme {
    background-color: rgb(225, 156, 116);
    color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    border-radius: 12px;
    cursor: pointer;
    width: 200px;
}

.container2 {
    display: flex;
    gap: 5em;
}

.container2-1{
    display: flex;
    flex-direction: column;
    margin-left: 5em;
    gap: 1em;
}

.ctitle {
    font-size: 48px;
    font-weight: bolder;
    color: white;
}

.ctxt {
    font-size: 18px;
    color: white;
    text-align: justify;
}

.container2-2 {
width: 50%;
}

.placeholder1 {
    width: 70%;
    height: 80%;
    border-radius: 15px;

}

/*now going for section 2, everything above belongs to section 1 */

.section2 {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.s2title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
    font-weight: bolder;
    margin-top: 35px;
    
}

.s2container2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}
.s2c2img {
    width: 100px;
    border-radius: 15px;
}

/* 
section 3 stuff starts here */

.section3 {
    background-color: rgb(167, 92, 48);   
}

.quote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    margin-left: 10em;
    margin-right: 10em;
    margin-top: 4em;
    margin-bottom: 1em;
}

.quoteauthor {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 4em;
    margin-left: 10em;
    margin-right: 20em;
    text-align: right;
    
}

/* stuff for the 4th section  */

.section4 {
    background-color: #fff;
    padding: 10%;
}

.s4container {
    display: flex;
    background-color: #724418;
    border-radius: 10px;
    padding: 2em;
}


/* footer info goes here  */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5em;
    background-color: rgb(167, 92, 48);

    font-size: 20px;
}